<div class="other">
	<div class="form-group"></div>
  <div class="form-group">
	  <label for="organization">Content</label>
	  <%= text_area_tag 'other_contents[]', nil, placeholder: '', class: "form-control", rows: 5 %>
  </div>
	<div class="form-group"></div>
	<a class="collapsed btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseTwo">Next</a>
</div>