<div class="other2">
	<div class="form-group"></div>
  <div class="form-group">
	  <label for="organization">Content</label>
	  <%= text_area_tag 'other_2_contents[]', nil, placeholder: 'Hitting enter in this section will create bullet points in your final resume.', class: "form-control", rows: 5 %>
  </div>
</div>