<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link href="/vagrant_data/ruby_files/resume_app/public/fonts/DroidSerif-Regular.ttf" rel='stylesheet' type='text/css'>
    <meta name="pdfkit-margin_top" content="0.25in"/>
    <meta name="pdfkit-margin_right" content="0.05in"/>
    <meta name="pdfkit-margin_bottom" content="0.25in"/>
    <meta name="pdfkit-margin_left" content="0.05in"/>
</head>

<body class="c20">
    <div>
        <p class="c18"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 284.00px; height: 97.00px;"><img alt="theromanhealthcaregroup_logo.png" src="/vagrant_data/ruby_files/resume_app/public/images/image01.png" style="width: 284.00px; height: 109.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
        <p class="c18 c16"><span></span></p>
        <p class="c18"><span class="c11 c15 c8">Candidate Name, Degrees, Certifications, Etc</span></p>
        <p class="c18 c16"><span class="c8 c17"></span></p>
        <p class="c18 c16"><span class="c1 c15"></span></p>
    </div>
    <p class="c5 c16"><span class="c8 c9"></span></p>
    
    <p class="c10"><span class="c8 c13">

    Candidate Name, Degrees, Certifications, Etc
    
    </span></p>
    <p class="c10"><span class="c1 c15">Street Address </span><span class="c1 c7">&bull; City, ST Zip &bull; Phone &bull; email</span></p>
    <p class="c19 c16"><span class="c1 c7"></span></p>
    <p class="c19"><span class="c8 c17">Description title</span></p>
    <p class="c19"><span class="c17 c21">Candidate description in sentence form.</span></p>
    <p class="c5 c16"><span class="c1 c8"></span></p>
    <p class="c5"><span class="c11 c8">C</span><span class="c1 c8">AREER </span><span class="c11 c8">H</span><span class="c1 c8">ISTORY</span></p>
    <p class="c5"><span class="c1 c8">Company Name</span><span class="c1 c8">&nbsp;- City, ST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Month, Year - Present</span></p>
    <p class="c5"><span class="c1 c6">Job Title</span></p>
    <p class="c4"><span class="c1">Job description in paragraph form. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
    <p class="c4"><span class="c1 c8">Accomplishments include:</span></p>
    <ul class="c14 lst-kix_cif9t7v1xyxb-0 start">
        <li class="c4 c12"><span class="c1">Bullet</span></li>
        <li class="c4 c12"><span class="c1">Points</span></li>
        <li class="c4 c12"><span class="c1">of</span></li>
        <li class="c4 c12"><span class="c1">Accomplishments</span></li>
    </ul>
    <p class="c2"><span class="c1"></span></p>
    <p class="c4"><span class="c1 c8">Company Name - City, ST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Month, Year - Month Year</span></p>
    <p class="c5"><span class="c6 c1">Job Title </span><span class="c1">(Month, Year - Month, Year)</span></p>
    <p class="c4"><span class="c1">Job description in paragraph form. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
    <p class="c5"><span class="c1 c8">Accomplishments included:</span></p>
    <ul class="c14 lst-kix_695nkxj2d07-0 start">
        <li class="c0"><span class="c1">More</span></li>
        <li class="c0"><span class="c1">Accomplishments</span></li>
    </ul>
    <p class="c5 c16"><span class="c1"></span></p>
    <p class="c5"><span class="c6 c1">Second Job Title at Same Company </span><span class="c1">(Month, Year - Month, Year)</span></p>
    <p class="c4"><span class="c1">Job description in paragraph form. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
    <p class="c4"><span class="c1 c8">Accomplishments included:</span></p>
    <ul class="c14 lst-kix_f27sbwqoj7j6-0 start">
        <li class="c4 c12"><span class="c1">Accomplishments</span></li>
        <li class="c4 c12"><span class="c1">Here</span></li>
    </ul>
    <p class="c2"><span class="c1"></span></p>
    <p class="c4"><span class="c1 c8">Company Name - City, ST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Month, Year - Month, Year</span></p>
    <p class="c4"><span class="c6 c1">Job Title</span></p>
    <p class="c4"><span class="c1">Job description in paragraph form. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c4"><span class="c1">nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c4"><span class="c11 c8">E</span><span class="c1 c8">DUCATION</span></p>
    <p class="c4"><span class="c1 c8">Abrv,</span><span class="c1 c8">&nbsp;</span><span class="c1">Degree full name, School Name - City, ST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year</span></p>
    <p class="c4"><span class="c1">Abrv, Degree full name, School Name - City, ST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year</span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c4"><span class="c11 c8">C</span><span class="c1 c8">ERTIFICATIONS AND </span><span class="c11 c8">L</span><span class="c1 c8">ICENSURE</span></p>
    <p class="c4"><span class="c1 c8">Abrv,</span><span class="c1">&nbsp;Certification or License full name</span></p>
    <p class="c4"><span class="c1">Abrv, Certification or License full name</span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c4"><span class="c8 c11">M</span><span class="c1 c8">EMBERSHIPS AND </span><span class="c11 c8">P</span><span class="c1 c8">ROFESSIONAL </span><span class="c11 c8">A</span><span class="c1 c8">FFILIATIONS</span></p>
    <p class="c4"><span class="c1">ABRV, Organization Full Name - Position held within organization</span></p>
    <p class="c4"><span class="c1">ABRV, Organization Full Name - Position held within organization</span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c4"><span class="c11 c8">O</span><span class="c1 c8">THER </span><span class="c11 c8">S</span><span class="c1 c8">ECTION 1 </span><span class="c11 c8">H</span><span class="c1 c8">EADER</span></p>
    <p class="c4"><span class="c1">Other Section 1 Content</span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c4"><span class="c11 c8">O</span><span class="c1 c8">THER </span><span class="c11 c8">S</span><span class="c1 c8">ECTION 2 </span><span class="c11 c8">H</span><span class="c1 c8">EADER</span></p>
    <p class="c4"><span class="c1">Other Section 2 Content</span></p>
    <div>
        <p class="c19"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 1.33px;"><img alt="" src="/vagrant_data/ruby_files/resume_app/public/images/image00.png" style="width: 624.00px; height: 1.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
        <p class="c10"><span class="c8 c17 c22">This candidate is represented by: </span></p>
        <p class="c10"><span class="c3">The Roman Healthcare Group, LLC<br>101 E. Crawford Street, Suite 401, Dalton, GA 30720</span></p>
        <p class="c10"><span class="c3">706.277.0124</span></p>
    </div>
</body>

</html>